service: bookhub-api

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-central-1
  environment:
    BOOKS_TABLE: ${self:service}-books-${sls:stage}
    AUTHORS_TABLE: ${self:service}-authors-${sls:stage}
    API_KEY: ${env:API_KEY}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource: "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-*-${sls:stage}"

functions:
  bookhub-api:
    handler: src/handlers/graphqlHandler.handler
    events:
      - httpApi:
          path: /graphql
          method: POST

resources:
  Resources:
    BooksTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-books-${sls:stage}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    AuthorsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-authors-${sls:stage}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-offline

build:
  esbuild: true
  bundle: true
  minify: false
  sourcemap: false
  target: node20
  platform: node
  format: cjs
